{
  "API_AUTH": {
    "username": "demodraft",
    "password": "darkmoney"
  },
  "API_URL": "http://ec2-3-101-22-177.us-west-1.compute.amazonaws.com",
  "policy_categories": {
    "0": "criminal-justice-reform",
    "1": "economy",
    "2": "education",
    "3": "environment",
    "4": "family-social",
    "5": "foreign-policy",
    "6": "government-reform",
    "7": "healthcare",
    "8": "immigration",
    "9": "voting-reform",
    "10": "women"
  }
}